@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');

html{
  font-family: 'Josefin Sans', sans-serif;
  font-size: 1.2rem;
  box-sizing: border-box;
}

body{ 
  margin: 0;
  padding: 0;
}

.grid-container{
  display: grid;
  grid-template-areas: 
    "header" 
    "main" 
    "footer"
  ;
  grid-template-rows: 5rem 1fr 5rem;
  grid-template-columns: 1fr;
}

header{
  grid-area: header;
  background: #203040;
  color: #fff;
  padding: 2rem;
}

main{
  grid-area: main;
}

footer{
  grid-area: footer;
  background: #203040;
  color: #fff;
  padding: 2rem;
  text-align: center;
}

.content{
  display: flex;
  flex-wrap: wrap;
}

.main{
  flex: 3;
}

.sidebar{
  flex: 1;
}

/* PRODUCTS */
.products{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.products li {
  flex: 1;
  height: 400px;
  padding: 1rem;
}

.product{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.product img{
  min-width: 100%;
  max-height: 300px;
  object-fit: cover;
}

.product a p {text-align: center;}

.product-price{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.product-price div,
.product-price button{
  text-align: center;
  flex: 1;
}

.product-price div{font-size: 1.5rem;}

.product-price .button{
  padding: 0.5rem;
  border: .1rem #c0c0c0 solid;
  background: #f0f0f0;
  cursor: pointer;
}

.product-price .button:hover{
  border: .1rem #808080 solid;
}

.button.primary {
  background: #f0c040;
}