@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');

html{
  font-family: 'Josefin Sans', sans-serif;
  font-size: 1.2rem;
  box-sizing: border-box;
}

body{
  height: 100vh;
  margin: 0;
}

.grid-container{
  display: grid;
  grid-template-areas: 
    "header" 
    "main" 
    "footer"
  ;
  grid-template-rows: 5rem 1fr 5rem;
  grid-template-columns: 1fr;
  height: 100%;
}

header{
  grid-area: header;
  background: #203040;
  color: #fff;
  padding: 2rem;
}

main{
  grid-area: main;
}

footer{
  grid-area: footer;
  background: #203040;
  color: #fff;
  padding: 2rem;
  text-align: center;
}